.nav-link-active {
  color: var(--lk-ac);
}

.nav-link-inactive {
  color: var(--lk-ic);
}

.nav-link {
  font: {
    weight: 400;
    family: Arial, sans-serif;
  }
  text-decoration: none;
}

@media (min-width: 300px) {
  .nav-link {
    font-size: 12px;
  }
}
