@import "../../../utils";

$pr-sh-sz: 0 4px 20px 6px;

[data-theme="light"] {
  --bg-pr: #0009;
  --bg-sc: #7262;
  --lk-ac: #fc6;
  --lk-ic: #6ae;
  --sh-cl: #6ae3;
  --tg-bg: #fea;
  --tg-cl: #222;
}

[data-theme="dark"] {
  --bg-pr: #2225;
  --bg-sc: #223a;
  --lk-ac: #faf;
  --lk-ic: #fff;
  --sh-cl: #fff3;
  --tg-bg: #247;
  --tg-cl: #222;
}

.nav {
  --trns: 0.45s linear;

  position: sticky;

  @include flexify(center, space-between);
  @include blurify(16px);

  z-index: 999;
  box-shadow: $pr-sh-sz var(--sh-cl);
  border-radius: 20px;
  transition: opacity var(--trns), visibility var(--trns), top 1s;
  background-color: var(--bg-pr);
}

.nav-hidden {
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.nav-showing {
  top: 5%;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 300px) {
  .nav {
    left: 8%;
    width: 85%;
    height: 6%;
    padding: 10px 16px;
  }
}
