@import "../../../utils";

.theme-switcher {
  @include flexify(center, center);
  cursor: pointer;

  border-radius: 1em;
  background-color: var(--tg-bg);

  &__toggle {
    @include flexify(center, center);

    color: #eee;
    box-shadow: inset 0 0 10px #ccf4;
    border-radius: 1em;
    background-color: var(--tg-cl);
  }
}

@media (min-width: 300px) {
  .theme-switcher {
    width: 20px;
    height: 20px;

    &__toggle {
      width: 16px;
      height: 16px;
    }
  }
}
