@import "../../../utils";

.nav-light {
  box-shadow: 0 4px 24px #2223;
  background-color: #9df4;
}

.nav-dark {
  box-shadow: 0 4px 24px #4afc;
  background-color: #28c2;
}

/* The navbar itself */
.navbar {
  $td: 1s; // Transition duration
  position: sticky;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 999;
  border-radius: 25px;
  @include blurify(24px);
  transition: visibility $td, opacity $td, background-color $td, box-shadow $td;
}

@media (min-width: 320px) {
  .navbar {
    @include py(6px);
    @include px(10px);
    top: 5%;
    left: 15%;
    width: 70%;
  }
}

@media (min-width: 1025px) {
  .navbar {
    @include py(12px);
    @include px(20px);
    top: 3%;
    left: 25%;
    width: 50%;
  }
}
