@import "../../../utils";

[data-theme="light"] {
  --badge-text-color: #fc6;
}

[data-theme="dark"] {
  --badge-text-color: #faf;
}

.badge {
  @include blurify(12px);
  @include flexify(center, center);

  position: absolute;
  top: -6px;
  right: -6px;

  font: {
    size: 10px;
    weight: 600;
    family: Arial, Helvetica, sans-serif;
  }
  color: var(--badge-text-color);
  width: 16px;
  height: 16px;
  text-align: center;
  box-shadow: 0 2px 16px var(--shadow-color);
  border-radius: 50%;
  background-color: rgba(225, 225, 225, 0.2);
}
