@import "../../../utils";

[data-theme="light"] {
  --btn-icon-color: #fffa;
  --btn-bg-color: #222a;
}

[data-theme="dark"] {
  --btn-icon-color: #222a;
  --btn-bg-color: #ddda;
}

.comments-modal {
  @include blurify(16px);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  row-gap: 40px;
  flex-direction: column;

  z-index: 1000;
  // padding: 100px 300px;
  transition: all 0.35s;

  &__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    color: var(--btn-icon-color);
    border: none;
    cursor: pointer;
    box-shadow: 0 0 16px #222c;
    border-radius: 50%;
    background-color: var(--btn-bg-color);
  }
}

.opened {
  visibility: visible;
}

.closed {
  visibility: hidden;
}

@media (min-width: 300px) {
  .comments-modal {
    padding: 80px 20px;

    &__close-btn {
      width: 25px;
      height: 25px;
    }
  }
}
