@import "../../../utils";

[data-theme="light"] {
  --avatar-shadow-color: #2226;
  --data-color: #4448;
}

[data-theme="dark"] {
  --avatar-shadow-color: #fff6;
  --data-color: #fff8;
}

.pic__header {
  @include flexify(center, space-between);

  &__author {
    @include flexify(center, initial);
    column-gap: 25px;

    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: 0 2px 16px var(--avatar-shadow-color);
    }

    h3 {
      font: {
        size: 20px;
        family: Arial, Helvetica, sans-serif;
      }
      color: #ffff;
    }
  }

  &__date {
    color: var(--data-color);
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
  }
}
