@import "../../../utils";

.pic__header {
  @include flexify(center, space-between);

  &__author {
    @include flexify(center, initial);
    column-gap: 25px;

    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: 0 2px 16px #222;
    }

    h3 {
      font: {
        size: 22px;
        family: Arial, Helvetica, sans-serif;
      }
      color: #ffff;
    }
  }
}
