@import "../../../utils";

[data-theme="light"] {
  --text-color: #345;
  --background-color: rgba(225, 225, 225, 0.2);
  --shadow-color: #2226;
  --badge-text-color: #f20;
  --emoji-selector-bc: rgba(225, 225, 225, 0.6);
}

[data-theme="dark"] {
  --text-color: #eee;
  --background-color: rgba(16, 16, 16, 0.2);
  --shadow-color: #fff6;
  --badge-text-color: #1f0;
  --emoji-selector-bc: rgba(16, 16, 16, 0.6);
}

.pic__footer {
  @include flexify(center, space-between);

  button {
    @include blurify(12px);

    font: {
      size: 16px;
      family: Arial, Helvetica, sans-serif;
    }
    color: var(--text-color);
    cursor: pointer;
    border: none;
    position: relative;
    box-shadow: 0 2px 16px var(--shadow-color);
    transition: color 0.35s;
    background-color: var(--background-color);
  }

  &__like-btn,
  &__comments-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;

    &:hover {
      color: #2382fe;
    }
  }

  &__like-btn {
    z-index: 10;
  }

  &__open-btn {
    @include py(12px);
    @include px(20px);

    border-radius: 6px;

    &:hover {
      color: #2382fe;
    }
  }

  .emoji-selector {
    @include blurify(12px);

    position: absolute;
    top: 0;

    display: flex;
    column-gap: 20px;
    align-items: center;

    height: 45px;
    z-index: 5;
    box-shadow: 0 2px 16px 2px var(--shadow-color);
    transition: width 0.35s, visibility 0.35s, transform 0.35s;
    padding-left: 55px;
    border-radius: 9999px;
    background-color: var(--background-color);

    &__icon {
      transition: transform 0.35s;

      &:hover {
        transform: translateY(-7px);
      }
    }
  }

  .scrolled {
    visibility: visible;
    width: 45px * 7.4;
  }

  .hidden {
    visibility: hidden;
    width: 45px;
  }
}

.comments-modal {
  @include px(45px);
  @include px(65px);

  background-color: #f46a;

  .opened {
    width: 100%;
    height: 100%;
  }

  .closed {
    width: 0;
    height: 0;
  }
}

.badge {
  @include blurify(12px);
  @include flexify(center, center);

  position: absolute;
  top: -6px;
  right: -6px;

  font: {
    size: 10px;
    weight: 600;
    family: Arial, Helvetica, sans-serif;
  }
  color: var(--badge-text-color);
  width: 20px;
  height: 20px;
  text-align: center;
  box-shadow: 0 2px 16px var(--shadow-color);
  border-radius: 50%;
  background-color: rgba(225, 225, 225, 0.2);
}
