@import "../../../utils";

[data-theme="light"] {
  --bg: linear-gradient(to top right, #002f07cc, #003082cc);
}

.pic {
  @include flexify(initial, initial, column);
  @include blurify(12px);

  width: 35%;
  padding: 20px;
  border-radius: 24px;
  background-image: var(--bg);
}
