@import "../../../../utils";

.emoji-selector {
  @include blurify(12px);

  position: absolute;
  top: 0;

  display: flex;
  column-gap: 20px;
  align-items: center;

  height: 45px;
  z-index: 5;
  box-shadow: 0 2px 16px 2px var(--shadow-color);
  transition: width 0.35s, visibility 0.35s, transform 0.35s;
  padding-left: 55px;
  border-radius: 9999px;
  background-color: var(--background-color);

  &__icon {
    transition: transform 0.35s;

    &:hover {
      transform: translateY(-7px);
    }
  }
}

.scrolled {
  visibility: visible;
  width: 45px * 7.4;
}

.hidden {
  visibility: hidden;
  width: 45px;
}
