@import "../../../utils";

[data-theme="light"] {
  --text-color: #345;
  --background-color: rgba(225, 225, 225, 0.2);
  --shadow-color: #2226;
  --emoji-selector-bc: rgba(225, 225, 225, 0.6);
}

[data-theme="dark"] {
  --text-color: #eee;
  --background-color: rgba(16, 16, 16, 0.2);
  --shadow-color: #fff6;
  --emoji-selector-bc: rgba(16, 16, 16, 0.6);
}

.media-card__footer {
  @include flexify(center, space-between);

  button {
    @include blurify(12px);

    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    cursor: pointer;
    border: none;
    position: relative;
    box-shadow: 0 2px 16px var(--shadow-color);
    transition: color 0.35s;
    background-color: var(--background-color);
  }

  &__like-btn,
  &__comments-btn {
    border-radius: 50%;

    &:hover {
      color: #2382fe;
    }
  }

  &__like-btn {
    z-index: 10;
  }

  &__visit-btn {
    border-radius: 6px;

    &:hover {
      color: #2382fe;
    }
  }
}

@media (min-width: 300px) {
  .media-card__footer {
    button {
      font-size: 12px;
    }

    &__like-btn,
    &__comments-btn {
      width: 35px;
      height: 35px;
    }

    &__visit-btn {
      padding: 8px 12px;
    }
  }
}
